.container {
    background: #ffff;
    padding: 5% 10%;
    text-align: right;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    margin: auto;
    box-sizing: border-box;
}

.container > *{
  margin: 6px 2px;
}
.container input{
    width: 100%;
    padding: 10px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
}
.button_save{
    width: 100%;
    color: #fff;
    background-color: #4CAF50;
}

.error{
    color: red
}

.button_choose_image{
    background-color: #a9c5aa7b;
    padding: 0.2em 1em;
    margin: 0.2em;
}